.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  background: url('../public/dd29mju-3c5c2c16-5733-4155-9c32-0f6f2b92f864.gif') no-repeat center/cover;
  background-attachment: fixed;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.weather{
  color: chocolate;
}
.massage{
  font-weight: 100;
  color: #ffffff;
}
.input{
  padding: 8px 0 8px 5px;
  outline-color: chocolate;
  border: 1px solid chocolate;
  caret-color: chocolate;
  color: #ffffff;
  background: 0;
}
::-webkit-input-placeholder{
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
}
.button{
  padding: 8px 8px;
  margin-left: 5px;
  cursor: pointer;
  border: 1px solid chocolate;
  color: #ffffff;
  background: 0;
  font-family: 'Courier New', Courier, monospace;
}
.button:active{
  transform: scale(0.90);
}
table{
  margin-top: 30px;
  border-collapse: collapse;
  border-color: chocolate;
  
}
table th{
  font-weight: 100;
  text-align: left;
  padding: 8px;
  color: #ffffff;
}
table td{
  text-align: center;
  color: #ffffff;
}